/*this is the way to target a section in your html code its called a selector e.g body{}*/
body {
    background: grey;
    color:black;
    font-size: 100px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-top: 10px;


}