
.stick{
    width:10px;
    background:black;
    height:380px;
}
.left{
    width:100px;
    background: green;
    height:180px;
    
   
}

.center{
    width:100px;
    background: white;
    height:180px;
   
}

.right{
    width:100px;
    background: green;
    height:180px; 
    border-top-right-radius:10px ;  
    border-bottom-right-radius:10px;
}

.flag{
    justify-content: center;
    display:flex
    
}

.ground{
    background:burlywood;
    height:1000px;
    margin:0px;
}